.header {
  height: 50px;
  background-color: #f7f9f9;
  border-bottom: 5px solid #bf6900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 40px;
  width: 150px;
  max-width: 400px;
  line-height: 40px;
  margin-left: 30px;
  font-weight: 800;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #f7f9f9;
  background-color: #f7f9f9;
}


@media screen and (max-width: 700px) {
  .mobile-btn-menu {
    margin-left: 20px;
    display: block;
  }

  .logo-container {
    margin-right: 50px;
  }

  .header {
    justify-content: space-between;
  }
  .menuContent {
    display: none;
  }
}
